.breedContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 998;
  background-color: rgba(255,255,255,0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.breedButtonDiv {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 5px;
}

button {
  padding: 5px 10px 5px 10px;
  font-size: 1vw;
  width: 160px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  flex: 0 0 auto;
  margin-right: 5px;
}

.breedButton {
  border-radius: 20px;
  background-color: dodgerblue;
}

.breedButton:hover {
  background-color: royalblue;
}

.breedButton:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 1000px) {
  button {
    padding: 3px 8px 3px 8px;
    font-size: 3vw;
    width: 80px;
  }
}

@media only screen and (max-width: 800px) {
  button {
    padding: 1px 4px 1px 4px;
  }
}
