.modalContainer {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 3vw;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  vertical-align: center;
}

.modalContainer p {
  cursor: pointer;
  margin: 0px;
}

@media only screen and (max-width: 800px) {

  .modalContainer {
    font-size: 5vw;
  }
  .modalContainer img {
    max-width: 700px;
  }
}

@media only screen and (max-width: 600px) {

  .modalContainer {
    font-size: 5vw;
  }
  .modalContainer img {
    max-width: 500px;
  }
}

@media only screen and (max-width: 400px) {
  .modalContainer img {
    max-width: 350px;
  }
}
